/* ==========================================================
1. GLOBAL STYLES
========================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----- Font Includes ---------*/

@font-face {
  font-family: 'Encode Sans Condensed';
  src: url('fonts/EncodeSansCondensed-Black.eot');
  src: url('fonts/EncodeSansCondensed-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/EncodeSansCondensed-Black.woff2') format('woff2'),
    url('fonts/EncodeSansCondensed-Black.woff') format('woff'),
    url('fonts/EncodeSansCondensed-Black.ttf') format('truetype'),
    url('fonts/EncodeSansCondensed-Black.svg#EncodeSansCondensed-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Encode Sans Condensed';
  src: url('fonts/EncodeSansCondensed-Light.eot');
  src: url('fonts/EncodeSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/EncodeSansCondensed-Light.woff2') format('woff2'),
    url('fonts/EncodeSansCondensed-Light.woff') format('woff'),
    url('fonts/EncodeSansCondensed-Light.ttf') format('truetype'),
    url('fonts/EncodeSansCondensed-Light.svg#EncodeSansCondensed-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Encode Sans Normal';
  src: url('fonts/EncodeSansNormal-Bold.eot');
  src: url('fonts/EncodeSansNormal-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/EncodeSansNormal-Bold.woff2') format('woff2'),
    url('fonts/EncodeSansNormal-Bold.woff') format('woff'),
    url('fonts/EncodeSansNormal-Bold.ttf') format('truetype'),
    url('fonts/EncodeSansNormal-Bold.svg#EncodeSansNormal-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/opensans-condlight-webfont.eot');
  src: url('fonts/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensans-condlight-webfont.woff2') format('woff2'),
       url('fonts/opensans-condlight-webfont.woff') format('woff'),
       url('fonts/opensans-condlight-webfont.ttf') format('truetype'),
       url('fonts/opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* -------- Box Sizing -------- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	font-size:16px;
	line-height: 1.6em;
	font-family:'Encode Sans Normal', Helvetica, Arial, sans-serif;
	font-weight:300;
	color:#666;
	background-color:#e1e1e1;
}


/* ----- heading levels ---------*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Encode Sans Normal';
	line-height: 22px;
	font-weight: normal;
}
h1, .h1,
h2, .h2,
h3, .h3 {
  /*margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);*/

}
h4, .h4,
h5, .h5,
h6, .h6 {
  /*margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);*/
}

h1, .h1 { font-size: 33px; text-transform:uppercase;}
h2, .h2 { font-size: 28px; text-transform:uppercase;}
h3, .h3 { font-size: 26px; }
h4, .h4 { font-size: 23px; }
h5, .h5 { font-size: 19px; text-transform:uppercase;}
h6, .h6 { font-size: 16px; text-transform:uppercase;}


p {
/*  margin: 0 0 ($line-height-computed * 0.833)*/;
}


hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid rgb(204, 204, 204);
	margin: 1em 0;
	padding: 0;
	clear:both;
}
/* ------ TEMPLATE CONTAINER OPTIONS (1024 vs full-width) ------- */

.full-width-container {
	width: 100%;
	margin: 0 auto;
}

.ten-twenty-four-container {
	max-width: 1024px;
	margin: 0 auto;
	min-height: 100px;
}

.ten-twenty-four {
	max-width: 1024px;
	margin: 0 auto;
}
/* ==========================================================
2. HEADER STYLES
========================================================== */
/*------ NAVIGATION-------*/
.header-banner-top .primary-wrapper {
  margin: 0 auto;
  max-width: 900px;
}
.header-banner-top .hidden {
  display: none;
}
.header-banner-top .horizontal-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-banner-top .horizontal-nav li {
  display: inline-block;
}
.header-banner-top .horizontal-nav a {
  display: block;
}
.header-banner-top .horizontal-nav .folder {
  position: relative;
  cursor: pointer;
}
.header-banner-top .horizontal-nav .folder ul {
  display: block;
  position: absolute;
  top: -9999px;
  left: 0;
  z-index: 999;
}
.header-banner-top .horizontal-nav .folder li {
  display: block;
}
.header-banner-top .horizontal-nav .folder:hover ul {
  top: 100%;
}
.header-banner-top .mobile-menu-box,
.header-banner-top .mobile-menu-label {
  display: none;
}
.header-banner-top .banner {
  position: relative;
}
.header-banner-top .banner .banner-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-banner-top .banner .primary-wrapper {
  position: relative;
}
@media screen and (max-width: 700px) {
  .header-banner-top .horizontal-nav {
    overflow: hidden;
    height: 0;
  }
  .header-banner-top .mobile-menu-box {
    display: none;
  }
  .header-banner-top .mobile-menu-label {
    display: block !important;
    cursor: pointer;
    text-align: right;
  }
  .header-banner-top .mobile-menu-label:before {
    content: 'Menu';
  }
  .header-banner-top .mobile-menu-box:checked ~ .horizontal-nav {
    height: auto;
  }
  .header-banner-top .mobile-menu-box:checked ~ .mobile-menu-label:before {
    content: 'Close';
  }
  .header-banner-top .horizontal-nav li {
    display: block;
  }
  .header-banner-top .horizontal-nav .folder ul {
    position: static;
  }
  .header-banner-top .horizontal-nav .folder-toggle-label a:before {
    content: '+ ';
  }
  .header-banner-top .horizontal-nav .folder-toggle-box:checked ~ .folder-toggle-label a:before {
    content: '- ';
  }
  .header-banner-top .horizontal-nav .folder:hover ul,
  .header-banner-top .horizontal-nav .folder-toggle-box ~ ul {
    display: none;
  }
  .header-banner-top .horizontal-nav .folder-toggle-box:checked ~ ul {
    display: block;
  }
}
.header-banner-top {
  text-align: center;
}
.header-banner-top .main-navigation {
  background: #222;
}
.header-banner-top .horizontal-nav a {
  padding: 1.5em 1em;
  color: #aaa;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}
.header-banner-top .horizontal-nav a:hover,
.header-banner-top .horizontal-nav .active-link a {
  color: #fff;
}
.header-banner-top .horizontal-nav .folder ul {
  background-color: #222;
  transition: padding 0.14s ease-out;
  text-align: left;
}
.header-banner-top .horizontal-nav .folder a {
  padding: 0.5em 1em;
  white-space: nowrap;
}
.header-banner-top .horizontal-nav .folder:hover ul {
  padding: 0.5em 0;
}
.header-banner-top .banner {
  background-color: #222;
}
.header-banner-top .banner .banner-image {
  background: url(http://farm7.staticflickr.com/6169/6161511237_c1834b35bc_b.jpg) center center;
  background-size: cover;
  opacity: 0.5;
}
.header-banner-top .banner .primary-wrapper {
  padding-top: 150px;
  padding-bottom: 150px;
}
.header-banner-top .banner .site-title {
  letter-spacing: 2px;
  font-size: 52px;
  margin: 0 0 20px;
}
.header-banner-top .banner .site-title a {
  color: #fff;
  text-decoration: none;
}
.header-banner-top .banner .site-tagline {
  color: #aaa;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 0 20%;
}
@media screen and (max-width: 700px) {
  .header-banner-top .horizontal-nav a {
    padding: 0.75em 1em;
  }
  .header-banner-top .horizontal-nav > ul > li:first-child a {
    padding-top: 2em;
  }
  .header-banner-top .horizontal-nav > ul > li:last-child a {
    padding-bottom: 2em;
  }
  .header-banner-top .horizontal-nav li {
    display: block;
  }
  .header-banner-top .horizontal-nav .folder ul {
    text-align: center;
    padding: 0.5em 0;
    margin: 0.5em 0;
    transition: none;
    background-color: #292929;
  }
  .header-banner-top .horizontal-nav .folder:hover ul {
    padding: 0.5em 0;
  }
  .header-banner-top .horizontal-nav .folder-toggle-label a {
    cursor: pointer;
  }
  .header-banner-top .mobile-menu-label {
    color: #fff;
    background-color: #292929;
    padding: 1.5em 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
  }
  .header-banner-top .mobile-menu-box:checked ~ .mobile-menu-label {
    color: #aaa;
  }
  .header-banner-top .mobile-menu-box:checked ~ .horizontal-nav {
    padding: 1em 0;
  }
  .header-banner-top .mobile-menu-box:checked ~ .mobile-menu-label:before {
    content: 'Close';
  }
}


/*==========================================================
3. BODY CONTENT
==========================================================*/

#main-container {
	background: #fff;
	width: 100%;
	margin: 0 auto;
	padding:0;  // DW - changed to 0 padding to remove white gutter between header and body content as part of database integration project
	min-height: 100px;
	font-size:0.9em;
}

.front-page #main-container{
	padding:30px 0 0 0;
}


.breadcrumb {
	margin-left: 0;
}

.eq-ht-wrapper{
    margin: 0 auto;
    max-width: 1024px;   
    padding: 1em 0 3em 0;
}

.text-widget{
	max-width: 1024px;
	margin: 0 auto;
	padding: 1em;
}

.page-title {
    text-transform: uppercase;
    font-size: 2.6em;
    color:$medium-gray;
    font-family: 'Noto Sans';
    margin: 0.6em 0 0.4em 0;
    font-weight:400;
}

.entry-title {
    text-transform: uppercase;
    font-size: 2.0em;
    color:#000;
    font-family: 'Noto Sans';
    margin: 0.6em 0 0.4em 0;
}

table.body-content-table td {
    border: 1px solid #999; 
    padding: .25em .75em; 
    vertical-align: top; 
    text-align: left;
}

/*==========================================================
5. HELPER CLASSES
==========================================================*/
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
 	zoom: 1;
}

/*==========================================================
6. MEDIA QUERIES
==========================================================*/

@media only screen and (min-width: 766px){
	/* ------ 2 COL ------- */
 	.eq-ht-wrapper .eq-ht.col-2 {
   	    width: 50%;
  	    padding-left: 2.2em;
    }

}