/* ==========================================================
1. GLOBAL STYLES
========================================================== */


/*------------------------------------------------*/
/*-----------------[RESET]------------------------*/
/*------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----- Font Includes ---------*/

@font-face {
  font-family: 'Encode Sans Condensed';
  src: url('fonts/EncodeSansCondensed-Black.eot');
  src: url('fonts/EncodeSansCondensed-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/EncodeSansCondensed-Black.woff2') format('woff2'),
    url('fonts/EncodeSansCondensed-Black.woff') format('woff'),
    url('fonts/EncodeSansCondensed-Black.ttf') format('truetype'),
    url('fonts/EncodeSansCondensed-Black.svg#EncodeSansCondensed-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Encode Sans Condensed';
  src: url('fonts/EncodeSansCondensed-Light.eot');
  src: url('fonts/EncodeSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/EncodeSansCondensed-Light.woff2') format('woff2'),
    url('fonts/EncodeSansCondensed-Light.woff') format('woff'),
    url('fonts/EncodeSansCondensed-Light.ttf') format('truetype'),
    url('fonts/EncodeSansCondensed-Light.svg#EncodeSansCondensed-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Encode Sans Normal';
  src: url('fonts/EncodeSansNormal-Bold.eot');
  src: url('fonts/EncodeSansNormal-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/EncodeSansNormal-Bold.woff2') format('woff2'),
    url('fonts/EncodeSansNormal-Bold.woff') format('woff'),
    url('fonts/EncodeSansNormal-Bold.ttf') format('truetype'),
    url('fonts/EncodeSansNormal-Bold.svg#EncodeSansNormal-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/opensans-condlight-webfont.eot');
  src: url('fonts/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensans-condlight-webfont.woff2') format('woff2'),
       url('fonts/opensans-condlight-webfont.woff') format('woff'),
       url('fonts/opensans-condlight-webfont.ttf') format('truetype'),
       url('fonts/opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* -------- Box Sizing -------- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	font-size:16px;
	line-height: 1.6em;
	font-family:'Encode Sans Normal', Helvetica, Arial, sans-serif;
	font-weight:300;
	color:#666;
	background-color:#e1e1e1;
}


/* ----- heading levels ---------*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Encode Sans Normal';
	line-height: 22px;
	font-weight: normal;
}
h1, .h1,
h2, .h2,
h3, .h3 {
  /*margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);*/

}
h4, .h4,
h5, .h5,
h6, .h6 {
  /*margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);*/
}

h1, .h1 { font-size: 33px; text-transform:uppercase;}
h2, .h2 { font-size: 28px; text-transform:uppercase;}
h3, .h3 { font-size: 26px; }
h4, .h4 { font-size: 23px; }
h5, .h5 { font-size: 19px; text-transform:uppercase;}
h6, .h6 { font-size: 16px; text-transform:uppercase;}


p {
/*  margin: 0 0 ($line-height-computed * 0.833)*/;
}


hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid rgb(204, 204, 204);
	margin: 1em 0;
	padding: 0;
	clear:both;
}
/* ------ TEMPLATE CONTAINER OPTIONS (1024 vs full-width) ------- */

.full-width-container {
	width: 100%;
	margin: 0 auto;
}

.ten-twenty-four-container {
	max-width: 1024px;
	margin: 0 auto;
	min-height: 100px;
}

.ten-twenty-four {
	max-width: 1024px;
	margin: 0 auto;
}


/*==========================================================
5. HELPER CLASSES
==========================================================*/
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
 	zoom: 1;
}